img {
    height: auto;
    width: 100%;
}    
.stream-preview-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    padding: 20px;
    max-height: 100px;
    .icon-container {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        margin-top: 15px;
        margin-bottom: 15px;
        .camera-icon {
            width: 25%;
            height: auto;
            padding: 10px;
            max-height: 50px;
            border-right: 1px solid #b5b5b5;
            cursor: pointer;
            &:hover {
                background: rgba(3, 45, 80, 0.89);
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}